{{ form_start(form) }}

    {{ form_widget(form) }}

    <button class="btn">{{ button_label|default('action.save' | trans([], 'manager')) }}</button>
    <a href="{{ manager_entities_index_url(classname) }}">{{ 'action.cancel' | trans([], 'manager') }}</a>
{{ form_end(form) }}